{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Caompatible" content="ie=edge">
    <title>Estudio Contable</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:500,600&display=swap" rel="stylesheet">

    <!-- Materialize.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- CSS Estilos -->
    <link rel="stylesheet" href="estudio/static/css/estilos.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="center-align titulo">ESTUDIO CONTABLE</h1>

                <div class="carousel center-align">
                    <div class="carousel-item">
                        <img src="../static/img/reloj.png" alt="">

                        <div class="elem">
                            <h2 class="subtitulo">Impuestos proximos a Vencer</h2>
                            <div class="linea-division"></div>
                            <p class="desc">Cosulta la lista de los
                                impuestos cuyas fechas
                                de vencimiento se
                                aproximan.</p>
                            <div class="linea-division"></div>
                            <a class="boton" href="#"><span>VER</span></a>
                        </div>


                    </div>

                    <div class="carousel-item">
                        <img src="../static/img/calendario.png" alt="">
                        <div class="elem">
                            <h2 class="subtitulo">Calendario de Impuestos del mes</h2>
                            <div class="linea-division"></div>
                            <p class="desc">Muestra el calendario de vencimientos del mes actual.
                                Muestra fechas y detalles de modificaciones.</p>
                            <div class="linea-division"></div>
                            <a class="boton" href="#"><span>VER</span></a>
                        </div>

                    </div>

                    <div class="carousel-item">
                        <img src="../static/img/usuarios.png" alt="">

                        <div class="elem">
                            <h2 class="subtitulo">GESTION DE USUARIOS</h2>
                            <div class="linea-division"></div>
                            <p class="desc">Crear, eliminar o modificar
                                los usuarios que poseen
                                acceso al sistema.</p>
                            <div class="linea-division"></div>
                            <a class="boton" href="#"><span>VER</span></a>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="../static/img/clientes.png" alt="">

                        <div class="elem">
                            <h2 class="subtitulo">GESTION DE CLIENTES</h2>
                            <div class="linea-division"></div>
                            <p class="desc">Agregar, eliminar o modificar los datos de clientes del estudio contable</p>
                            <div class="linea-division"></div>
                            <a class="boton" href="{% url 'clientes' %}"><span>VER</span></a>                        
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="../static/img/datosClient.png" alt="">

                        <div class="elem">
                            <h2 class="subtitulo">DATOS DE
                                UN CLIENTE</h2>
                            <div class="linea-division"></div>
                            <p class="desc">Ver la información de un
                                cliente a partir de su razón
                                social.</p>
                            <div class="linea-division"></div>
                            <a class="boton" href="#"><span>VER</span></a>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="../static/img/impuestoCliente.png" alt="">

                        <div class="elem">
                            <h2 class="subtitulo">IMPUESTOS DE
                                UN CLIENTE</h2>
                            <div class="linea-division"></div>
                            <p class="desc">Ver la lista de los impuestos y sus estados, de un cliente a partir de su
                                razón social.</p>
                            <div class="linea-division"></div>
                            <a class="boton" href="#"><span>VER</span></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- Materialize.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- JS Main -->
    <script src="estudio/js/main.js"></script>
</body>

</html>